<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>商品管理系统</title>
	<link rel="stylesheet" href="static/css/login.css">
</head>
<body>
	<div class="container">
		<div class="login-box">
			<h3>用户登录</h3>
			<input type="text" class="input username" id="username" placeholder="请输入用户名">
			<input type="password" class="input pswd" id="pswd" placeholder="请输入密码">
			<div class="operator-box">
				<span class="oper">
					<input class="checkbox" id="remember" type="checkbox">Remember Me
				</span>
				<span class="btn" id="btn">登录</span>
			</div>
		</div>
	</div>
	
</body>
<script src="static/lib/jquery.min.js"></script>
<script src="static/js/login.js"></script>
</html>